<div *ngIf="!term || !courses" class="loading-bar">
  <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>
<div *ngIf="term && courses && selectedTabIndex && !meetings" class="loading-bar">
  <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>

<div *ngIf="term">
  <md-toolbar>
    <span>Courses for {{term.name}}</span>
    <span class="fill-space"></span>
    <span>
		  <button md-raised-button (click)="logout()"><md-icon style="vertical-align: middle;">power_settings_new</md-icon> Logout</button>
    </span>
  </md-toolbar>
  <!-- <div style="padding:15px;padding-top:35px;">Select a course to view your attendance</div> -->

  <div style="padding:10px;" *ngIf="courses && courses.my_course">
    <md-tab-group (selectedIndexChange)="selectedIndexChange($event)" [selectedIndex]="selectedTabIndex" class="history-tabs">
      <md-tab label="One">
        <div style="padding:10px;">
          <md-card md-ripple *ngFor="let course of courses.my_course" (click)="selectCourse(course)" style="cursor: pointer;" class="card-course">
            <md-grid-list cols="4" rows="1" rowHeight="80px">
              <md-grid-tile colspan="3" class="grid-left-align">
                <div class="course-name">
                  <h4>{{course.name}}</h4>
                  <p>{{course.abbrv}}</p>
                </div>
              </md-grid-tile>
              <md-grid-tile colspan="1">
                <md-icon>arrow_forward</md-icon>
              </md-grid-tile>
            </md-grid-list>
          </md-card>
        </div>
      </md-tab>
      <md-tab label="Two">
        <div style="padding:10px;">
          <button md-icon-button (click)="goBack()" style="min-width: 85px;">
			      <md-icon>arrow_back</md-icon> Courses
		      </button>
          <h4>{{selectedCourse?.name}}</h4>
          <div>
            <md-list *ngIf="meetings">
              <md-card>
                <md-grid-list cols="6" rows="1" rowHeight="40px" *ngFor="let meeting of meetings" class="meeting-item">
                  <md-grid-tile colspan="2" class="grid-left-align">
                    {{meeting.start | date:'mediumDate'}}<span class="meeting-date"> {{meeting.start | date:'shortTime'}}</span>
                  </md-grid-tile>
                  <md-grid-tile colspan="2" class="grid-center-align">
                    <span style="text-transform: capitalize" class="meeting-attendance-status">{{meeting.attendance | lowercase}}</span>
                  </md-grid-tile>
                  <md-grid-tile colspan="2">
                    <div style="float:right;" *ngIf="meeting.meetingid">
                      <button *ngIf="!meeting.saving && !meeting.saved && !meeting.status &&  meeting.attendance != 'PRESENT'" md-raised-button
                        md-button (click)="showExcuseModal(meeting)"><span>Submit <span class="hidden-xs">Excuse</span></span></button>
                      <md-spinner *ngIf="meeting.saving"></md-spinner>
                      <md-icon *ngIf="meeting.saved">schedule</md-icon>
                      <md-icon mdTooltip="Status: {{status[meeting.status]?.toolTip}}" *ngIf="meeting.status">{{status[meeting.status]?.icon}}</md-icon>
                    </div>
                    <div style="float:right;" *ngIf="!meeting.meetingid" mdTooltip="No attendance has been set by the teacher">
                      <md-icon>slow_motion_video</md-icon>
                    </div>
                  </md-grid-tile>
                </md-grid-list>
                <div style="margin-top:20px">
                  Legend
                  <md-list>
                    <md-list-item>
                      <md-icon class="legend-icon">schedule</md-icon> Pending approval </md-list-item>
                    <md-list-item>
                      <md-icon class="legend-icon">check_circle</md-icon> Excuse approved </md-list-item>
                    <md-list-item>
                      <md-icon class="legend-icon">cancel</md-icon> Excuse denied </md-list-item>
                    <md-list-item>
                      <md-icon class="legend-icon">slow_motion_video</md-icon> No attendance has been set </md-list-item>
                  </md-list>
                </div>
              </md-card>
            </md-list>
          </div>
        </div>
      </md-tab>
    </md-tab-group>

  </div>
  <div *ngIf="courses && !courses.my_course">
	  <p class="no-courses">It seems you are not registered for any courses. If this is incorrect please contact your student advisor.</p>
  </div>
</div>
