.fill-space {
  flex: 1 1 auto;
}

.grid-left-align>/deep/ figure {
  justify-content: flex-start !important;
}

.loading-bar {
  position: absolute;
  top: 0;
  width: 100%;
}

.meeting-date,
.meeting-attendance-status {
  color: gray;
  margin-left: 10px;
}

.card-course {
  transition: background-color 0.2s ease;
}

.card-course:hover {
  background: rgba(224, 224, 224, 0.3);
}

.legend-icon {
  margin-right: 5px;
}

@media only screen and (max-width: 500px) {
  .btn-username {
    display: none;
  }
  .meeting-date {
    display: none;
  }
  .course-name  p{
    display: none;
  }

  .course-name h4 {
	font-size: 3.5vw;
  }
}
