.fill-space {
  flex: 1 1 auto;
}

.grid-left-align>/deep/ figure {
  justify-content: flex-start !important;
}

.card-course {
  transition: background-color 0.2s ease;
}

.card-course:hover {
  background: rgba(224, 224, 224, 0.3);
}

@media only screen and (max-width: 500px) {
  .btn-username {
    display: none;
  }
}
